body{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    height: 700px;
    position: relative;
    font-family: 'Poiret One', cursive;
    text-align: center;
    background-image:url(images/Burgers-with-Barbecue-sauce-1920x1200.jpg);
}


#title .h1{
    font-family: 'Poiret One', cursive;
    text-align: left;
    margin-right: 800px;
    font-weight: 400;
    font-family: 'Poiret One', cursive;
}
#nav {
    position:relative;
    top:20px;
    left:0;
    right:0;
    width:100%;
    height:10px;
    align-content: stretch;
    float: center;
    padding: 30px;
    font-family:'Roboto Condensed', sans-serif;
    background-color: rgba(195, 164, 164, 0.63);
    width: 600px;
    float: center;
    margin-left: 800px;
    border-radius: 5px;
}
#nav a {
    font-size:14px;
    padding: 30px;
    color: #1d1b2e
    font-size: 50px;
    border: 20px;
    text-decoration: none;
}
#navigation a:hover {
    background-color: white;
}
li {
    float: left;
}

li a {
    display: block;
    color: #2d475d;
    text-align: left;
    padding: 8px 0 8px 16px;

}

#content{
    position: relative;
    float: center;
    color: #2d475d;
    top: 0;
    width: auto;
    height: 500px;

}
h1{
    text-decoration-line: none;
}
footer{
    padding: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: #33334b;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}
.footer>contact{
    float: right;
}
