body{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    height: 700px;
    position: relative;
    font-family: 'Poiret One', cursive;
    text-align: center;
    background-image:url(images/Burgers-with-Barbecue-sauce-1920x1200.jpg);
    background-repeat: no-repeat;
}


#title h1{
    display: block solid;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-weight:700;
    font-size: 60px;
    margin-top: 30px;
}
#title h2{
    display: block solid;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-weight:500;
    font-size: 30px;
}

#nav {
    position:relative;
    top:0px;
    left:0;
    right:0;
    width:100%;
    align-content: stretch;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}
#nav>a {
    font-size:18px;
    font-weight:700;
    padding: 19px;
    color: #222571;
    text-decoration: none;
    font-family: 'Poiret One', cursive;

}
#navigation a:hover {
    background-color: white;
}
li {
    float: left;
}

li a {
    display: block;
    color: #abc9e3;
    text-align: left;
    padding: 8px 0 8px 16px;
    font-size: 35px;

}
a.button {
-webkit-box-shadow: -14px 7px 55px 10px rgba(232,7,7,1);
-moz-box-shadow: -14px 7px 55px 10px rgba(232,7,7,1);
box-shadow: -14px 7px 55px 10px rgba(232,7,7,1);
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: black;
    font-size: 35px;
    background-clip: border-box;
    background-color: #d0c2f8;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 800px;
    font-weight: bold;
}
#hero {
    background-color: black; opacity: 0.3;
    color: white;
    width: 800px;
    height: 150px;
    float: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;

}
#content{
    position: relative;
    float: center;
    color: #2d475d;
    top: 0;
    width: auto;
    height: 400px;

}
h1{
    text-decoration-line: none;
}
btn{
    background-color: beige;
    color: #272753
    width:3px;
    height: 2px;
}
footer {
    display:block;
    background-color:black; opacity:0.4;
    color: #fefeff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    position:relative;
    bottom:85px;
    width:120%;
    padding: 10px;
}
